{{ 'demo-rich-text.css' | asset_url | stylesheet_tag }}

<section id="shop-collection-button-area">
  <div class="container">
    <div class="collection-heading-button">
      {% if section.settings.heading %}
        <h2>{{section.settings.heading}}</h2>
      {% endif %}
      {% if section.settings.discription %}
        <p>{{section.settings.discription}}</p>
      {% endif %}
      {% if section.settings.button_text or section.settings.button_url %}
        <a href="{{section.settings.button_url}}" class="btn">{{section.settings.button_text}}</a>
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Demo Rich Text",
    "presets": [
      {
        "name": "Demo Rich Text"
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "Header Text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "header",
        "content": "Discription Text"
      },
      {
        "type": "text",
        "id": "discription",
        "label": "Discription"
      },
      
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button URL"
      },
    ],
  }
{% endschema %}